body {
  padding-top: 70px;
  /* background: url('/images/home.jpeg') no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.container {
  padding: 10vh 30vw;
}

.pw {
  display: grid;
  grid-template-columns: 9fr 1fr;
  border: 1px solid #ccc;
}

#password {
  padding-right: 1fr;
}

#pw_toggle {
  border-left: 1px solid #ccc;
  border-radius: 0;
}

#password, pw_toggle {
  border: none;
}