body {
  padding-top: 70px;
  /* background: url('/images/home.jpeg') no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.container {
  padding: 10vh 30vw;
}

.pw {
  display: grid;
  grid-template-columns: 9fr 1fr;
  border: 1px solid #ccc;
}

#password {
  padding-right: 1fr;
}

#pw_toggle {
  border-left: 1px solid #ccc;
  border-radius: 0;
}

#password,
pw_toggle {
  border: none;
}

.btn-default {
  color: #fff;
  background-color: #15aabf;
  border-color: #15aaff;
}

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #fff;
  background-color: #0094ea;
  border-color: #0094ff;
  transition: 1s;
}

.heading {
  text-transform: uppercase;
  color: #000;
  opacity: 0.85;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}