@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.navbar {
  font-family: 'Julius Sans One', sans-serif;
  background-color: #15aabf;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
  text-transform: uppercase;
}

.navbar .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
  opacity: .4;
  transition: 1s;
}

.navbar-default .navbar-nav > .active > a {
  background-color: white;
  cursor: default;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color: white;
  opacity: 1;
}

.navbar-default .navbar-toggle {
  background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}

i{
  padding-right: 10px;
}